<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.miaoxinguo.sbs.dao.AccountMapper">
  <resultMap id="BaseResultMap" type="io.github.miaoxinguo.sbs.entity.Account">
    <!--
      @mbg.generated - 该元素由 Mybatis-Generator 自动创建，不要修改。
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="user_id" jdbcType="INTEGER" property="user" />
  </resultMap>
  <insert id="insert" parameterType="io.github.miaoxinguo.sbs.entity.Account">
    <!--
      @mbg.generated - 该元素由 Mybatis-Generator 自动创建，不要修改。
    -->
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into account (name, type, balance, 
      user_id)
    values (#{name,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, #{balance,jdbcType=DECIMAL}, 
      #{user,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="io.github.miaoxinguo.sbs.entity.Account">
    <!--
      @mbg.generated - 该元素由 Mybatis-Generator 自动创建，不要修改。
    -->
    update account
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      balance = #{balance,jdbcType=DECIMAL},
      user_id = #{user,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      @mbg.generated - 该元素由 Mybatis-Generator 自动创建，不要修改。
    -->
    select id, name, type, balance, user_id
    from account
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    <!--
      @mbg.generated - 该元素由 Mybatis-Generator 自动创建，不要修改。
    -->
    select id, name, type, balance, user_id
    from account
  </select>
  <select id="selectByQueryObject" resultMap="BaseResultMap">
    <!--
      @mbg.generated - 该元素由 Mybatis-Generator 自动创建，不要修改。
    -->
    select 
  </select>
</mapper>