<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <properties>
        <property name="dialect" value="mysql"/>
    </properties>

    <settings>
        <!-- changes from the defaults -->
        <setting name="lazyLoadingEnabled" value="false"/>
    </settings>

    <typeAliases>
        <!--Model-->
        <typeAlias type="com.jcloud.cap.data.model.Task" alias="Task"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="com.jcloud.cap.data.mybatis.interceptor.PageStatementInterceptor" />
        <plugin interceptor="com.jcloud.cap.data.mybatis.interceptor.PageResultInterceptor"/>
    </plugins>

</configuration>
